.btn-signup {
  background-color: rgb(0,162,203);
  color: #E0F2FF;
  padding: 15px 28px;
  border-radius: 20px;
  border: none;
}

.btn-signup {
  background-color: rgb(0,162,203);
  color: #E0F2FF;
  padding: 15px 28px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 16px 32px 0px rgba(0, 72, 123, 0.25);
}
