/* общие стили и шаблоны */
.wh {
  padding: 20px;
  border: 1px solid black;
} 

body {
  /* border: 1px solid purple; */
  width: 1170px;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
} 

@media screen and (max-width: 1170px) {
  body {
    overflow-x: auto; /* Показываем горизонтальный скролл при ширине экрана меньше или равной 1170px */
  }
}
/* container */


.photo-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  /* border: 1px solid blue; */
}

.button-with-global {
  border-radius: 20px;
  border: none;
  color: rgb(14,81,129);
  background: white;
}
