/* общие стили и шаблоны */
.wh {
  padding: 20px;
  border: 1px solid black;
} 

body {
  /* border: 1px solid purple; */
  width: 1170px;
  height: 100%;
  margin: 0 auto;
} 

/* container */


.photo-container {
  display: flex;
  flex-direction: column;
  width: 100px;
  /* border: 1px solid blue; */
}

.button-with-global {
  border-radius: 20px;
  border: none;
  color: rgb(14,81,129);
  background: white;
}
