.block-4 {
  margin-bottom: 5px;
}

.block-4__text-destinations {
color: #00A3CB;
line-height: 28px;
letter-spacing: 0.2em;
font-weight: 500;
font-size: 18px;
}

.block-4__next-text-discription {
  margin: 0;
  font-weight: 700;
  font-size: 44px;
  line-height: 55.82px;
}

.block-4__container-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 58px;
}

.block-4__slider-controller {
  width: 192px;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.block-4__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-4__card {
  height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.block-4__card-text {
  height: 115px;
}

.block-4__card-text-dicriprion {
  margin: 0;
  font-size: 23px;
  line-height: 29.18px;
  font-weight: 700;
}

.block-4__container-arrow-back {
width: 80px;
height: 80px;
border-radius: 100%;
border: 1px solid #F3F3F4;
display: flex;
justify-content: center;
align-items: center;
}

.block-4__container-arrow-next {
  width: 80px;
  height: 80px;
  background-color: #00A3CB;
  border-radius: 100%;
  box-shadow: 0px 16px 32px 0px rgba(0, 72, 123, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-4__arrow-back {
  width: 25.6px;
  height: 25.6px;
}

.block-4__arrow-next {
width: 32px;
height: 32px;
}

.block-4__description-slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-4__star {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.block-4__star-count {
  margin-right: 4px;
  color: #E76A43;
  font-weight: 700;
  line-height: 10px;
}

.block-4__star-img {
  width: 14px;
  height: 14px;
}

.block-4__location {
  color: #8C8B92;
  font-size: 18px;
  font-weight: 450;
  line-height: 30px;
}

.block-4__price {
  margin: 0;
  font-size: 23px;
  color: #00A3CB;
  font-weight: 700;
  line-height: 29.18px;
}