
.absolute {
  position: absolute;
  top: 0;
}

.absolute__world-image {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 1345px;
  height: 656px;
  top: 183px;
  left: -90px;
  z-index: -1;
}

.absolute__cube-2 {
  position: absolute;
width: 499.72px;
height: 491.02px;
top: -242px;
left: -116px;
border-radius: 57px;

background-color: #E0F2FF;
transform: rotate(-42deg);
z-index: -1;
opacity: 0.3;
}