.block-5 {
position: absolute;
height: 700px;
}

.block-5__mr-chill {
  position: relative;
  height: 770px;
  width: 1075px;
  right: 350px;
}

.block-5__info {
  height: 488px;
  width: 469px;
  position: relative;
  bottom: 650px;
  left: 680px;
}

.block-5__travel-points {
  color: #00A3CB;
  line-height: 28px;
  letter-spacing: 0.2em;
  font-weight: 500;
  font-size: 18px;
}

.block-5__travel-points-discription {
  margin: 0;
  font-size: 44px;
  line-height: 55.82px;
  font-weight: 700;
}

.block-5__description {
  color: #8C8B92;
  line-height: 30px;
  font-size: 18px;
  font-weight: 450;
}

.block-5__price {
  margin: 0;
  color: #E76A43;
  font-size: 28px;
  line-height: 35.52px;
  font-weight: 700;
}

.block-5__statistic-cards {
display: flex;
flex-direction: row;
}

.block-5__statistic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px;
  height: 146px;
  width: 222px;
  border: 2px solid #E8E8E9;
  border-radius: 40px;
}